
<div class="row">
  <div class="col-md-4">
  <img class="img-thumbnail nudge-margin" src="http://placekitten.com/g/210/200" />
  </div>
  <div class="col-md-8"><H1><%= @kick.name %></H1>


  <%= @kick.product_type %> |   <%= @kick.manufacturer %>


</div>
  <div class="row ">
    <div class="col-md-12">

  <table class="table table-striped table-hover table- nudge-margin">

  <% @kick.offers.each do|offer| %>
        <tr>
        <td><%= link_to offer.name, offer_path(offer.id) %></td>
        <td><%= offer.retailer.name %></td>
        </tr>
      <% end %>
  </table>

<%= link_to 'Edit', edit_kick_path(@kick) %> |
<%= link_to 'Back', kicks_path %>
             </div></div>